Package: kmod-qca-wifi
Version: 3.4.103+10.4-4.0.5.020-1
Depends: kernel (=3.4.103-1-db2f0439a3d39b3ce39acddd5df6f455), libgcc, libc, wireless-tools, librt, iproute2, qsdk-wifi-script, kmod-qca-nss-drv
Provides: 
Source: package/qca-wifi
Section: QCA
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Qualcomm Atheros
Architecture: ipq806x
Installed-Size: 1615326
Description:  QCA Wireless LAN Driver
